#? stdtmpl | standard
#proc topPageBody(): string =
#  result = ""
<div class="table">
    <table>
        <thead>
            <tr>
                <th>Proj</th>
                <th>Title</th>
                <th>Detail</th>
                <th>Status</th>
                <th>Due</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="maintable">
        </tbody>
    </table>
</div>
